.main__tables--container{
   display: flex;
   width: 930px;
   margin: 0 auto;
}
.product__cards--container{
   display: flex;
   flex-wrap: wrap;
   width: 930px;
   margin:0 auto;
}
.plans__container--slider{
   /* *para centrar los cards cuando empieze los 930px */
   justify-content: center;
}